article.internal
	.container
		.row.justify-content-center
			.col-24.col-lg-22.col-xl-20
				section.post.internal__item
					each text in page.text1
						p.rn-text.internal__text!= text

				- var post1 = page.post1
				section.post.internal__item
					.row
						.col-24
							h2.rn-heading.post__heading!= post1.heading
							each descr in post1.descr
								p!= descr

				- var post2 = page.post2
				section.post.internal__item
					.row
						.col-24
							h2.rn-heading.post__heading!= post2.heading
							each descr in post2.descr
								p!= descr
						.col-24
							ol
								each item in post2.list
									li!= item
						.col-24
							each text in post2.text
								p.rn-text.services__text.post__text!= text

				- var post3 = page.post3
				section.post.internal__item
					.row
						.col-24
							h2.rn-heading.post__heading!= post3.heading
							each descr in post3.descr
								p!= descr
					.row.align-items-center
						.col-24
							ul
								each item in post3.list
									li!= item
						.col-24
							each text in post3.text
								p.rn-text.services__text.post__text!= text
